<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="Cache-control" content="No-Cache">

  <title>Box Platform - Template Application - Preview</title>

  <!-- polyfill.io only loads the polyfills your browser needs -->
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Promise"></script>
  <!-- Alternatively, use polyfills hosted on the Box CDN
    <script src="https://cdn01.boxcdn.net/polyfills/bluebird/3.5.1/bluebird.min.js"></script>
    -->

  <!-- Latest version of Box Content Preview for en-US locale -->
  <script src="https://cdn01.boxcdn.net/platform/preview/1.58.2/en-US/preview.js"></script>
  <link rel="stylesheet" href="https://cdn01.boxcdn.net/platform/preview/1.58.2/en-US/preview.css" />
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="config.json"></script>
  <script type="text/javascript" src="js/box.js"></script>
</head>

<body style="background-color:#00ac4e">
<img src="logo.png" alt="Site Logio" align="top">
  <div class="preview-container" style="height:90vh; width:100vw; align=center" ;></div>
  <script>
    var preview = new Box.Preview();
    preview.show('509953159228', sessionStorage.getItem("accessToken"), {
        container: '.preview-container',
        logoUrl: 'pixel.png',
        showDownload: 'false',
        collection: ['509947864916','509966178175','509961183951','509954448686','509964063214','509947265867']
      });

    var counter=0;

    while (counter < 1) {

    setInterval(function(){ preview.navigateRight(); }, 5000);

    counter = counter +1;

  }

      </script>

</body>

</html>
